<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="~/assets/img/find_user.png" class="user-image img-responsive" />
            </li>

            <li>
                <a href="/Vendedor/MeusDados"><i class="fa fa-user fa-3x"></i> Meus Dados</a>
            </li>
            <li>
                <a href="/Cliente/Cadastro"><i class="fa fa-users fa-3x"></i> Novo Cliente</a>
            </li>
            <li>
                <a href="/Cliente/Consultar"><i class="fa fa-search fa-3x"></i> Consultar Cliente</a>
            </li>
            <li>
                <a href="/Venda/FiltrarVeiculo"><i class="fa fa-money fa-3x"></i> Nova Venda</a>
            </li>
            <li>
                <a href="/Venda/MinhasVendas"><i class="fa fa-bar-chart-o fa-3x"></i> Minhas Vendas</a>
            </li>
            <li>
                <a href="/Vendedor/AlterarSenha"><i class="fa fa-table fa-3x"></i> Alterar Senha</a>
            </li>
            <li>
                <a href="/Vendedor/Deslogar"><i class="fa fa-table fa-3x"></i> Sair</a>
            </li>



        </ul>

    </div>

</nav>
