
@{
    Layout = "~/Views/Shared/_login.cshtml";
}

<div>
    <div class="form-group form-inline">
        <label>Usuario</label>
        <input class="form-control" placeholder="Digite seu nome de usuario" />
    </div>
    <div class="form-group form-inline">
        <label>Senha</label>
        <input class="form-control" placeholder="Digite sua senha" />
    </div>
    <a href="#" class="btn btn-default form-inline">Acessar</a>   
</div>

